---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="container">
			<h1>My Chat App</h1>
			<form class="message-form" action="">
				<input type="text" id="usernameInput" placeholder="Enter your username">
				<input type="text" id="messageInput" placeholder="Enter your message">
				<button type="submit">Send message</button>
			</form>

			<h2>Messages</h2>
			<ul class="messages"></ul>
		</div>

		<script type="module">
			import { io } from "https://cdn.socket.io/4.8.1/socket.io.esm.min.js";

			const socket = io('http://localhost:3000') // Socket backend url

			// Send message
			const messageForm = document.querySelector('.message-form')
			messageForm.addEventListener('submit', (e) => {
				e.preventDefault()
				const usernameInput = messageForm.querySelector('#usernameInput').value.trim()
				const messageInput = messageForm.querySelector('#messageInput')
				socket.emit('chat', { username: usernameInput, message: messageInput.value.trim() }) // Send message to server
				messageInput.value = ''
			})

			// Listen for any messages from the server
			socket.on('chat', (data) => { // will keep listening
				const messages = document.querySelector('.messages')
				const li = document.createElement('li')
				li.innerHTML = `<strong>${data.username}:</strong> ${data.message}`
				messages.appendChild(li)
			})
		</script>
	</body>
</html>
